<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="cards">
        <div class="card card-1">
            <h3>WEB<br>DESIGN</h3>
            <p>Development</p>
            <h2>1</h2>
        </div>
        <div class="border"></div>
        <div class="card card-2">
            <h3>APP<br>DESIGN</h3>
            <p>Android & iOS</p>
            <h2>2</h2>
        </div>
        <div class="border"></div>
        <div class="card card-3">
            <h3>GRAPHIC<br>DESIGN</h3>
            <p>Modern Design</p>
            <h2>3</h2>
        </div>
        <div class="border"></div>
        <div class="card card-4">
            <h3>DIGITAL<br>ART</h3>
            <p>New Trends</p>
            <h2>4</h2>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>